<nav>
<div class="bl2">
Навигация сайта
</div>
    <table class="nav_table">
        <tr>
            <td class="nav_t_main">
                <a  href="" 
                    class="url_td">Главная страница</a>
            </td>
            <td class="nav_t_td">
                <a  href="" 
                    class="url_td">История Беларуси</a>
            </td>
            <td class="nav_t_td">
                <a  href="" 
                    class="url_td">История Мира</a>
            </td>
            <td class="nav_t_td">
                <a  href="" 
                    class="url_td">Случайная страница</a>
            </td>
            <td class="nav_t_td">
                <a  href="" 
                    class="url_td">Что дальше?</a>
            </td>
        </tr>
    </table>
 </nav>